@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.contenedor {
  @apply container mx-auto my-6 max-w-7xl w-11/12 lg:w-full;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
}

.btn-link{
  @apply py-1 px-3 rounded-md bg-blue-600 text-white hover:bg-blue-500 transition-colors
}
